.woocommerce_civicrm_donation{

}
.woocommerce_civicrm_donation .col_wrapper{
  display: flex;
}
.woocommerce_civicrm_donation .col_wrapper .group_choices .onetime_choices,
.woocommerce_civicrm_donation .col_wrapper .group_choices .recurring_choices{
  padding: 0 5px;
}
.woocommerce_civicrm_donation .col_wrapper .group_choices label{
  display: block;
}
.woocommerce_civicrm_donation .col_wrapper .group_choices label input.other_price{
  width: 50px;
  padding: 4px;
}
